<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Fire Marshall Bill</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>America's Fire Marshall</h1>  <br>
    <div id="pagelinks">
        <li><a href="./home">Home</a></li>
    
        <li><a href="./works"> Bill's Accolades and Accomplishments</a></li>
    
        <li><a href="./photogallery">Stunning Photographs of Bill in Action</a></li>
    </div> 

    <h2> Fire Marshall Bill Burns is the acclaimed safety expert from the show <a href="https://en.wikipedia.org/wiki/In_Living_Color"><i>In Living Color</i></a>.</h2>
   <p> Although he appeared on an otherwise fictionalized show, Fire Marshall Bill appeared as himself and dedicated each of his appearances to educating Americans about safety hazards.
    False reports often claim that he was merely a character played by famed actor Jim Carrey, but such reports are unverified. <br>

<h1>... Who Keeps the World Safe</h1>

<p> Bill notably served as fire marshall aboard the RMS Titanic on its maiden, and ultimate, voyage from Europe to New York. His survival is credited to his ability to think on his feet and foresee all potentialities. </p>

<h1>And So Much More </h1>

<p>Aside from his dedication to keeping others safe and "show[ing] them something", he is a skilled cook, magician, astronaut, and Mall Santa. </p>
<br><br>

<img class="photogallery" src="/images/sexy.jpg">
<br>
The sexy image that launched, and sunk, a thousand ships.

    <br><br> 
    <h2>Did You Know?</h2>
    <ul class = "list">
        <li>Bill's diligence and devotion is thought to have saved over 55,000 lives American lives since <i>In Living Color</i> first aired in 1990. </li>   
    <li>Bill was voted <i>Time's</i> "Man of the Year" in 1994.</li>
    <li>Bill was voted <i>People's</i> "Sexiest Man of the Year" from 1991 to 1993.</li>
        <li>He has often been likened in appearance to the 47th US President, Joseph Biden.</li> 
        <li>Bill is noted for his laugh, which the Dalai Lama  said brings feelings of "peace, joy, and well-being."</li>
        <li>Bill is happily married to Ashley Burns.</li>


</body>
</html>