<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
    <header>  
         <h1>LET ME SHOW YA SOMETHIN': <br>FIRE MARSHALL BILL, AN AMERICAN HERO</h1>
         </header>
    <div id="pagelinks">
    <li><a href="./about">Who is Fire Marshall Bill?</a></li>

    <li><a href="./works"> Bill's Accolades and Accomplishments</a></li>

    <li><a href="./photogallery">Stunning Photographs of Bill in Action</a></li>
</div> 
  
<div id="mainarea">   <img id = "homepic" src="/images/basic.png">
    <h2 class ="quote">"Everything you see... is a potential hazard." -Fire Marshall Bill</h2>
</div>

<audio src="/images/sound.mp3" id ="myaudio" autoplay="autoplay"></audio>

<script type="text/javascript">
window.onload = function() {
    
 let audio = document.getElementById("myaudio")
 audio.currentTime=3.5;
 audo.play(); 
}
</script>

</bodys>
</html>