<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titillating Photos of Fire Marshall Bill</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Bill's Greatest Times</h1>
    <div id="pagelinks">
        <li><a href="./about">Who is Fire Marshall Bill?</a></li>
    
        <li><a href="./works"> Bill's Accolades and Accomplishments</a></li>
    
        <li><a href="./home">Home</a></li>
    </div> 



    <div id = 'gallery'>
    <img class ="photogallery" src="/images/cooking.jpg">
    <img class ="photogallery" src="/images/sexy.jpg">
    <img class ="photogallery" src="/images/darts.jpg">

   
</div>

</body>
</html>