<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Works of Fire Marshall Bill</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    <h1>Notable Accomplishments</h1>
   
    <div id="pagelinks">
        <li><a href="./about">Who is Fire Marshall Bill?</a></li>
    
        <li><a href="./home"> Home</a></li>
    
        <li><a href="./photogallery">Stunning Photographs of Bill in Action</a></li>
    </div>
    

    <h2> Over the last three decades, Fire Marshall Bill has epitomized safety, health, and wellness; providing an example for all Americans in how to live a full, fulfilling, and safe life in any and all circumstances.</h2>
   <br><br>
   
 
    <ul class="list" >

    <a href="https://en.wikipedia.org/wiki/Titanic">Served aboard the RMS Titanic</a>; honored by Steven Spielberg's movie adaptation of the tragedy, where the character "Rose" stands in for Bill and his real-life experiences.</li>
<li>World's only survivor of Multiple Instances of Spontaneous Combustion (MISC).</li>
<li> Present onboard the Zeppelin in 1937's <a href="https://en.wikipedia.org/wiki/Hindenburg_disaster">Hindenburg Disaster</a>. The British rock band Led Zeppelin chose to honor Bill's courage in the face of disaster through their choice of album art for their self-titled album. </li> 
<li>Allegedly involved with <a href="https://en.wikipedia.org/wiki/1993_World_Trade_Center_bombing">1993's World Trade Center bombing.</a> (Unconfirmed.)</li>


   </ul>
    

   <img class="accomplished" src="/images/accompilshed.png">
   <h2>Brave. Clever. Safe. Fire Marshall Bill.</h2>

 
</body>
</html>